<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primer trabajo práctico</title>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding"> 
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3"></script>
    <script src="script.js" defer></script>

</head>
<body>
    <div id="app">
        <form>
            <h1 class="titulo">{{titulo}}</h1>
            <div class="contenedor">
                <label>Nombre y Apellido </label>
                <input type="text" v-model="nombreApellido" id="nombreApellido" placeholder="Ingrese su nombre y apellido"/>
                <div id="error1" ><p>{{ text1 }}</p></div>
            </div>
            <div class="contenedor">
                <label>Monto a Invertir: </label>
                <input type="number" v-model="montoInvertido" id="montoInvertido" placeholder= 1000 />
                <div id="error2" >{{ text2 }}</div>
            </div>
            <div class="contenedor">
                <label>Cantidad de Días: </label>
                <input type="number" v-model="cantidadDias" id="cantidadDias" placeholder= 30 />
                <div id="error3" >{{ text3 }}</div>
            </div>
            <button type="button" id="btnCalcular" @click="calculo(montoInvertido, cantidadDias)">CALCULAR</button>
            <button type="button" id="btnReinvertir" @click="reinvertir(montoInvertido,cantidadDias)">REINVERTIR</button>
        </form>
        <div class="calculoInversion">{{ calculo.calculoFinal }}</div>
        <div class="cuadroReinventir">
        
        </div>
    </div>
</body>
</html>