body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family:consolas;
    font-size: 30px;
    text-align: center;
    background-image: url(https://www.uade.edu.ar/media/vstk2jml/eco.jpg?anchor=center&mode=crop&width=1240&height=910&rnd=132306498662930000);
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  #btnCalcular{
    margin-top: 100px;
  }
  
  .grid-layout{
    display: grid;
    grid-template-areas: 'auto auto auto';
    grid-template-rows: 50% 50%;
    justify-content: center;                       
    align-content: center;
    
  }
  
  .cuadrotexto {
    text-align: center;
  }
  .caja1{
    justify-content: center;
  }
  
  
  button:hover {
     background-color: rgb(89, 170, 245);
    
  }
  label{
    font-weight: bold;
  }
  
  input{
    height: 50px;
    width: 300px;
    font-family: consolas; color: rgb(29, 209, 29);
    font-weight: bold; font-size: 18px;
    margin: 10px;
    padding: 0;
    padding-left: 0;
    text-align: center;
    
  }
  
  button{
    font-size: 20px;
    font-family: consolas;
    margin: 15px;
    height: 100px;
    width: 300px;
    justify-content: center;
  }
  